@font-face {
    font-family: 'lofty';
    src: url('LoftygoalsRegular-9Y5Xy.woff2') format('woff2'),
         url('LoftygoalsRegular-9Y5Xy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}